<div class="container-fluid vh-100 d-flex flex-column justify-content-start align-items-center bg-gradient">
    <h1 class="mt-5 mb-5 fw-bold title-text">{{ title }}</h1>

    <!-- collegamento al TS -->
    <form (ngSubmit)="onSubmit()" class="w-75">

        <!-- Name -->
        <div class="row mb-3">
            <div class="form-group col">
                <label for="name">Name</label>
                <input type="text" [(ngModel)]="name" name="name" class="form-control form-control-lg" id="name"
                    placeholder="Insert name">
            </div>
        </div>

        <!-- Description -->
        <div class="row mb-3">
            <div class="form-group col">
                <label for="description">Description</label>
                <textarea [(ngModel)]="description" name="description" id="description" class="form-control" rows="4"
                    placeholder="Insert description"></textarea>
            </div>
        </div>

        <!-- Image -->
        <div class="row mb-3">
            <div class="form-group col">
                <label for="image">Image</label>
                <input type="file" class="form-control" id="image" (change)="onFileSelected($event)">
            </div>
        </div>

        <!-- Submit -->
        <div class="row mt-3">
            <button type="submit" class="btn btn-success">Add Category</button>
        </div>

        @if (successMessage) {
        <div class="alert alert-success w-100 text-center mt-3">
            {{ successMessage }}
        </div>
        }
    </form>
</div>