<div class="container-fluid vh-100 d-flex justify-content-center align-items-center">
    <div class="text-center bg-light p-5 rounded shadow">
        <h1 class="display-4 fw-bold text-primary mb-4">Homepage Backoffice</h1>
        <p class="lead text-secondary">
            Questa applicazione offre un accesso semplice e intuitivo per organizzare la tua spesa quotidiana.
            Puoi creare e gestire liste personalizzate, aggiungere prodotti con facilità e consultare un catalogo
            completo in cui ogni articolo è ordinato per categoria.
            Grazie alla funzione di ricerca, trovare ciò che ti serve diventa immediato, rendendo la pianificazione
            della spesa più veloce ed efficiente.
        </p>
    </div>
</div>